<?xml version="1.0"?>
<model>
  <name>OrcaXL</name>
  <version>1.0</version>
  <sdf version='1.4'>OrcaXL.sdf</sdf>

  <author>
   <name>Akarsh Gopal</name>
   <email>akarsh98@gmail.com</email>
  </author>

  <author>
   <name>Bhanu Teja Chidura</name>
   <email>bhanutejachidura@logixair.com</email>
  </author>
  <description>
    This is a model of the OrcaXL UAV by Logixair.
  </description>
</model>
